.edit-form{
display: flex;
align-content: center;
flex-wrap: nowrap;
width:70vw;
margin: 20px auto;
height:10%
}
.required-symbol {
  color: rgb(255, 9, 9);
  margin-left: 1px;
  font-size: small;
  margin-bottom: 2px;
}

.list-container{
  display: flex;
  flex-direction: column;
  align-items:center ;
}
.update-button{
  margin: 1.6rem auto 0.2rem auto;
}

.nextpage-button {
  padding: 10px 20px;
  background-color: #153aaa;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;

}

.nextpage-button:hover {
  background-color: #455aa0;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma;
  font-size: 16px;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}
table{
  width: 60vw;
  margin: auto;
  border:solid;
  border-collapse: collapse;
  

}
th {
  text-align: left;
}

td {
  padding: 8px;
  border: 1px solid #1b1b32;
}

thead tr th {
  background-color: #031a56;
}
form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}


label {
  display: block;
  margin: 0;
}

input{
  margin: 0;
}
input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

a{
color:#dfdfe2;
}
